### AdaBoost (Adaptive Boosting) et XGBoost (eXtreme Gradient Boosting) sont deux algorithmes d'ensemble utilisés en apprentissage automatique pour améliorer les performances des modèles de régression et de classification. Bien qu'ils partagent certains principes de base, ils diffèrent dans leurs mécanismes spécifiques et leurs performances.

### Dataset: https://www.kaggle.com/mirichoi0218/insurance

### Import the library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import warnings
warnings.simplefilter('ignore')

### Import Data

In [2]:
data = pd.read_csv('insurance.csv')

In [3]:
X = data.iloc[:,:-1]

In [4]:
Y = data.iloc[:,-1]

In [5]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Label encoding

In [6]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
X['sex'] = le.fit_transform(X['sex'])
X['smoker'] = le.fit_transform(X['smoker'])
X

      age  sex     bmi  children  smoker     region
0      19    0  27.900         0       1  southwest
1      18    1  33.770         1       0  southeast
2      28    1  33.000         3       0  southeast
3      33    1  22.705         0       0  northwest
4      32    1  28.880         0       0  northwest
...   ...  ...     ...       ...     ...        ...
1333   50    1  30.970         3       0  northwest
1334   18    0  31.920         0       0  northeast
1335   18    0  36.850         0       0  southeast
1336   21    0  25.800         0       0  southwest
1337   61    0  29.070         0       1  northwest

[1338 rows x 6 columns]

## One hot encoding

In [7]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [5])], remainder='passthrough')
X = columnTransformer.fit_transform(X)
X

array([[ 0.  ,  0.  ,  0.  , ..., 27.9 ,  0.  ,  1.  ],
       [ 0.  ,  0.  ,  1.  , ..., 33.77,  1.  ,  0.  ],
       [ 0.  ,  0.  ,  1.  , ..., 33.  ,  3.  ,  0.  ],
       ...,
       [ 0.  ,  0.  ,  1.  , ..., 36.85,  0.  ,  0.  ],
       [ 0.  ,  0.  ,  0.  , ..., 25.8 ,  0.  ,  0.  ],
       [ 0.  ,  1.  ,  0.  , ..., 29.07,  0.  ,  1.  ]])

### Train test split

In [8]:
import numpy as np
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=1)

### Modèle

In [10]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-2.0.3-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 2.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.5.2)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.19.2)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3
Note: you may need to restart the kernel to use updated packages.

In [11]:
import xgboost as xgb

In [12]:
model = xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0,
    max_depth=3,
    learning_rate=0.05
)

model.fit(X_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=0, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.05, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=3, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=100, n_jobs=None,
             num_parallel_tree=None, objective='reg:squarederror', ...)

### Prédiction

In [13]:
y_pred = model.predict(X_test)

In [14]:
print(y_pred)

[ 3304.1443 12514.461  10408.605  11625.639   3417.367  38262.5
 11503.01   12795.932   4997.6616 20412.957  15379.668  13344.997
  7346.578   7636.451   2836.2173 11383.133   4949.968   7400.867
 14560.098  14426.975  12628.622  40421.875   9256.913  10276.228
  4321.9536  7580.112   9705.184  10569.746   6860.841   5265.242
 13025.118   6884.3984 24277.637  35128.12   23872.088  12031.293
 39451.39   17573.52   12616.009  41909.684   6696.717  12514.461
 11773.36   14649.611   6581.9976 14143.31    3725.8357 37667.508
 11374.5    16278.38   14214.384  13972.4795  4013.4312  9306.799
 17392.057   4688.4004 41694.28   14181.785   7225.0146  2573.1428
  4756.3506 14388.499  20239.63    4678.555  14143.31   11047.519
 11753.967  12485.557   4129.8066 16373.734  43169.195  40712.656
  3477.8398 15066.263  14298.268  43310.582   5064.1836  4539.1987
 12674.331  11728.738   3910.9377 13958.838  13825.464   3997.766
 39020.75   38810.484   7486.0713 45156.457  12390.646   8178.3115
 21506.57   23541.545  15837.816  10862.65    2725.4456 12374.037
 10808.956  13958.838  12616.009   8102.1504 12514.461  17573.586
 18548.225  35055.863  27519.88   20483.783   3068.3328  9044.001
  4263.7905 12852.472   5503.2     6378.3076  2757.0977 16919.74
  4733.1465  2939.8857  6972.517  15007.058   8304.705   3758.2134
 10575.013  12255.208   6628.7056  8548.861  43795.69   11383.133
 14439.349  19604.951  44723.098   9199.353  37452.887   2888.1812
  8537.677  40489.773   9026.275   2482.6216  2757.0977  3374.1714
 12918.774   9940.095  14563.181   7070.012  19787.264  14350.647
 14195.301  12457.921   3669.296   7834.82    3725.8357  7543.263
  9057.332   6308.2793 13958.838  13214.3545 10447.117   6563.2266
 11403.809  11346.301  11570.15    3862.57    4749.6357 46613.92
 12792.46    4634.964   7038.299   2899.0198 40005.02   12602.73
 12633.596   6556.827   6732.3774  5140.392  23856.354  27097.78
  4585.0903  7634.374   4634.964  16051.446   4937.2275  7135.3164
 14143.31   14363.427  10856.162   9078.506   5166.5127 20162.229
  3236.6318 10407.806   8506.956   8736.819  16342.369  46170.49
  4050.3943  4129.8066  7140.982   9716.568   7790.961   3758.2134
 11797.303   9123.421   7266.352   7834.82   13161.113   7346.578
  7660.338   2957.9238  8208.293   7375.6626  3808.3843 12662.618
  5778.2812 24704.012   6923.8325  6321.2305  6369.265  45386.33
 12572.082  34951.773   2836.2173 38837.1     4321.9536 23333.432
 13958.838   6355.116   3233.9082  3786.713   5097.9326  4400.524
 18409.752  14350.647   6993.074  15951.099  45836.13    7382.421
 14138.761  12341.988  18569.447   3304.1443  9999.275   5258.3706
  9984.791   3374.1714 15652.984   3813.0994 12430.577  23451.137
  8820.748  10508.222   5123.4487 14298.268  12977.892   5953.305
 14380.027  11577.165   4840.0386  4321.9536 35315.45   21611.719
  2540.1438 46614.164   9379.056   7316.378   9179.961  40164.04
 44035.133  43768.785   3758.2134  6196.7676]

### Comparaison

In [15]:
comparaison = pd.DataFrame()
comparaison['Actual'] = y_test
comparaison['predicted'] = y_pred
comparaison

           Actual     predicted
559    1646.42970   3304.144287
1087  11353.22760  12514.460938
1020   8798.59300  10408.605469
460   10381.47870  11625.638672
802    2103.08000   3417.366943
...           ...           ...
682   40103.89000  40164.039062
629   42983.45850  44035.132812
893   44202.65360  43768.785156
807    2136.88225   3758.213379
1165   5227.98875   6196.767578

[268 rows x 2 columns]

### Evaluation

In [16]:
from sklearn.metrics import r2_score

In [18]:
r2_score(y_test, y_pred)

0.8814897702620178